{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block forgot_password %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <h1 class="h4 text-900 pt-3 text-gray" style="text-align: center; font-size: 30px; color: #343a40;"><img src="static/img/CJ_logo.svg.png" style="width: 50px; height: 50px;"><b>  Forgot Password</b></h1>
                <div>
                  <div class="text-center mt-4 mb-3">
                    <h6 style="padding-left:10px;"><b>※비인가 접근 및 오남용에 대한 경고</b></h6>
                    <h6 style="padding-left:10px;"><b>본 시스템은 CJ올리브네트웍스 임직원에 한하여 사용하실 수 있습니다.</b></h6>
                    <h6 style="padding-left:10px;"><b>불법적인 접근 및 사용시 관련법규에 의해 처벌되실 수 있습니다.</b></h6>
                  </div>
                    <div class="form-group">
                      <div class="col">
                        <div class="row">
                          <span class="text-gray-600" style="font-size: 0.8rem;padding-left:18px;">Email</span>
                          <div class="input-group">
                            <input type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." style="border-radius: 20px; font-size: 0.85rem; padding-left:1rem; border-radius: 20px 0 0 20px; height:37.5px;">
                            <button class="btn btn-primary" type="button" id="emailBtn">확인</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="display:none;" id="hiddenDiv">
                      <div class="form-group">
                        <div class="col">
                          <span class="text-gray-600" style="font-size: 0.8rem;padding-left:5px;">Password Question</span>
                          <select name="passwordQuestion" id="passwordQuestion" class="form-control" style="border-radius: 20px; font-size: 0.85rem; padding-left: 1rem;">
                            <option value="내가 태어난 도시는 어디인가요?">내가 태어난 도시는 어디인가요?</option>
                            <option value="가장 좋아하는 음식은 무엇인가요?">가장 좋아하는 음식은 무엇인가요?</option>
                            <option value="첫 번째 애완동물의 이름은 무엇인가요?">첫 번째 애완동물의 이름은 무엇인가요?</option>
                            <option value="가장 존경하는 인물의 이름은 무엇인가요?">가장 존경하는 인물의 이름은 무엇인가요?</option>
                            <option value="자신의 좋아하는 도서나 영화 제목은 무엇인가요?">자신의 좋아하는 도서나 영화 제목은 무엇인가요?</option>
                            <option value="어릴 적 가장 기억에 남는 장소는 어디인가요?">어릴 적 가장 기억에 남는 장소는 어디인가요?</option>
                            <option value="가장 추억에 남는 기념일은 언제인가요?">가장 추억에 남는 기념일은 언제인가요?</option>
                            <option value="첫 번째 자동차의 모델은 무엇인가요?">첫 번째 자동차의 모델은 무엇인가요?</option>
                            <option value="가장 즐겨찾는 스포츠 팀이나 플레이어는 누구인가요?">가장 즐겨찾는 스포츠 팀이나 플레이어는 누구인가요?</option>
                            <option value="초등학교 때 가장 친한 친구의 이름은 무엇인가요?">초등학교 때 가장 친한 친구의 이름은 무엇인가요?</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col">
                          <div class="input-group">
                            <input type="text" class="form-control" name="passwordAnswer" id="passwordAnswer" aria-describedby="PhoneHelp" placeholder="Hint Answer..." style="border-radius: 20px; font-size: 0.85rem; padding-left:1rem; border-radius: 20px 0 0 20px;height:37.5px;">
                            <button class="btn btn-primary" type="button" id="passwordAnswerBtn">확인</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="register" style="text-decoration: none;">계정 생성하기</a>
                  </div>
                  <div class="text-center mb-3">
                    <a class="small" href="login" style="text-decoration: none;">로그인하기</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <script>
    $('#emailBtn').click(function(){
      var email = $('#inputEmail').val();
      var postdata = {
        'email': email,
      };
      $.ajax({
        contentType: 'application/json',
        type: 'POST',
        url: 'api/password_forgot_email_valid',
        data: JSON.stringify(postdata),
        dataType: 'json',
        success: function(response) {
          alert('확인 되었습니다. 다음 질문에 답변해주세요.');
          showPasswordQuestion()
        },
        error: function(request, status, error) {
          alert('다시 입력해주세요.')
          history.go(0);
        }
      })
    })
  </script>
  <script>
    $('#passwordAnswerBtn').click(function(){
      var email = $('#inputEmail').val();
      var question = $('#passwordQuestion').val();
      var answer = $('#passwordAnswer').val();
      var postdata = {
        'email': email,
        'question': question,
        'answer': answer
      };
      $.ajax({
        contentType: 'application/json',
        type: 'POST',
        url: 'api/password_forgot_answer_valid',
        data: JSON.stringify(postdata),
        dataType: 'json',
        success: function(response) {
          alert('입력한 이메일로 임시 비밀번호가 전송되었습니다. 임시 비밀번호로 로그인해주세요.');
	  window.location.href = "/login";
	},
        error: function(request, status, error) {
          alert('다시 입력해주세요.')
          // history.go(0);
        }
      })
    })
  </script>
  <script>
   function showPasswordQuestion() {
      // 두 번째 div의 style 변경
      document.getElementById('hiddenDiv').style.display = 'block';
      // inputEmail 요소를 찾아서 disabled 속성을 true로 설정
      document.getElementById('inputEmail').disabled = true;
    }
  </script>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
{% endblock %}
