{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">비밀번호 변경 이력</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>이메일</th>
                  <th>비밀번호 변경 일자</th>
                  <th>IP 주소</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>No</th>
                  <th>이메일</th>
                  <th>비밀번호 변경 일자</th>
                  <th>IP 주소</th>
                </tr>
              </tfoot>
              <tbody>
                {% for password in password_change_log %}
                <tr>
                  <td>{{password.id}}</td>
                  <td>{{password.email}}</td>
                  <td>{{password.password_changed_at}}</td>
                  <td>{{password.ip_address}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
      <!-- End of Main Content -->
{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}