{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}
<html>
    <head>
        <style>
            .table-content {
                text-decoration: none;
                color: #212529;
            }
        </style>
    </head>
    <body style="font-family: CJ ONLYONE NEW body Regular;">
        <div class="container-fluid">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-10">
                    <div style="margin: auto auto; padding: 40px 40px;">
                        <h1><b>개인정보처리방침</b></h1>
                        <p>제정일자 | 2023년 8월 9일</p><br>
                        
                        <p>CJ올리브네트웍스㈜(이하 '회사')는 이용자의 개인정보를 중요시하며, 『개인정보보호법』, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 등을 준수하며 관련 법령에 의거한 개인정보처리방침을 정하여 이용자 권익을 보호하고 있습니다.</p><br><br>

                        <div class="sect">
                            <h3>[목차]</h3>
                            <div class="row">
                                <div class="col" style="line-height: 30px;"><a href="#sect_1" class="table-content">1.총칙</a></div>
                                <div class="col" style="line-height: 30px;"><a href="#sect_6" class="table-content">6.이용자 및 법정대리인의 권리와 그 행사 방법</a></div>
                            </div>
                            <div class="row">
                                <div class="col" style="line-height: 30px;"><a href="#sect_2" class="table-content">2.수집하는 개인정보의 수집방법</a></div>
                                <div class="col" style="line-height: 30px;"><a href="#sect_7" class="table-content">7.개인정보 보호를 위한 기술적, 관리적 대책</a></div>
                            </div>
                            <div class="row">
                                <div class="col" style="line-height: 30px;"><a href="#sect_3" class="table-content">3.개인정보의 파기절차 및 방법</a></div>
                                <div class="col" style="line-height: 30px;"><a href="#sect_8" class="table-content">8.쿠키(Cookie) 자동 수집 장치 운영 사항</a></div>
                            </div>
                            <div class="row">
                                <div class="col" style="line-height: 30px;"><a href="#sect_4" class="table-content">4.개인정보 제공</a></div>
                                <div class="col" style="line-height: 30px;"><a href="#sect_9" class="table-content">9.개인정보 보호 담당 부서 및 민원서비스</a></div>
                            </div>
                            <div class="row">
                                <div class="col" style="line-height: 30px;"><a href="#sect_5" class="table-content">5.개인정보 처리 위탁</a></div>
                                <div class="col" style="line-height: 30px;"><a href="#sect_10" class="table-content">10.개인정보 처리방침 변경</a></div>
                            </div>
                        </div>

                        <div class="sect mt-4" id="sect_1">
                            <h3>1. 총칙</h3>
                            <p>회사는 서비스를 제공함에 있어서 취득한 정보를 이용자의 동의를 얻지 않고 제3자에게 제공, 누설하거나 업무상 목적 외에 사용하지 않습니다. 다만, 업무상 이용자 정보를 제3자에게 제공 또는 위탁할 경우 본 사이트를 통해 이용자에게 고지합니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_2">
                            <h3>2. 수집하는 개인정보의 수집방법, 목적, 보유 및 이용기간</h3>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">수집방법</th>
                                    <th scope="col">수집이용 목적</th>
                                    <th scope="col">수집항목(필수)</th>
                                    <th scope="col">보유기간</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>회원가입</td>
                                        <td>출입관리시스템 운영 및 관리</td>
                                        <td>이름, 소속, 직급, 이메일</td>
                                        <td>회원 탈퇴 시 즉시 파기</td>
                                    </tr>
                                    <tr>
                                        <td>내방객 현장등록</td>
                                        <td>출입 통제 및 방문 이력 관리, 분실 도난 시 사후 추적 관리</td>
                                        <td>이름, 소속, 전화번호</td>
                                        <td>1년</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_3">
                            <h3>3. 개인정보의 파기절차 및 방법</h3>
                            <p>- “회사”는 보유기간의 경과, 개인정보의 처리 목적 달성 등 그 개인정보가 불필요하게 되었을 때에는 “2. 수집하는 개인정보의 수집방법, 목적, 보유 및 이용기간”에 따라 해당 정보를 지체없이 파기합니다.</p>
                            <p>- 종이에 출력된 개인정보는 분쇄기로 분쇄 또는 소각하여 파기하고, 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_4">
                            <h3>4. 개인정보 제공</h3>
                            <p>회사는 이용자의 개인정보를 본 개인정보처리방침에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이 동 범위를 초과하여 이용하거나 이용자의 개인 정보를 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
                            <p>- 이용자가 사전에 동의한 경우</p>
                            <p>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_5">
                            <h3>5. 개인정보 처리위탁</h3>
                            <p>회사는 이용자 대상 사전통지 없이 고객님의 정보를 외부 업체에 위탁하지 않습니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_6">
                            <h3>6. 이용자 및 법정대리인의 권리와 그 행사방법</h3>
                            <p>- 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 삭제를 요청할 수도 있습니다. 이용자의 개인정보 조회와 수정을 위해서는 개인정보 보호책임자에게 서면, 전화 또는 E-mail로 연락하시면 지체없이 조치하겠습니다.</p>
                            <p>- 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 처리하지 않습니다. 또한 잘못된 개인정보를 제3자에게 위탁 또는 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다</p>
                            <p>- 회사는 만 14세 미만 아동(이하 “아동”이라 함)의 개인정보를 수집하지 않고 있습니다. 다만, 개인정보 수집이 필요한 경우 반드시 법정대리인의 동의를 구하고 있습니다. 회사는 법정대리인의 동의를 받기 위하여 아동으로부터 법정대리인의 성명과 연락처 등 최소한의 정보를 요구할 수 있으며, 아동의 법정대리인은 서면, 전화, E-mail 등을 통하여 아동의 개인정보에 대한 열람, 정정 및 삭제를 요청할 수 있으며, 이러한 요청이 있는 경우 회사는 지체 없이 필요한 조치를 취합니다.</p>
                            <p>- 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>
                            <p>- 이용자의 개인정보 조회, 수정을 위해서는 "프로필 설정"을, 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_7">
                            <h3>7. 개인정보 보호를 위한 기술적, 관리적, 물리적 대책</h3>
                            <p>회사는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 대책을 강구하고 있습니다.</p>
                            <p>- 시스템을 내부망으로 사용하여 외부 침입에 대비하며, 개인정보에 대한 접근권한을 최소 한의 인원으로 제한하고 있습니다.</p>
                            <p>- 백신프로그램을 이용하여 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있으며, 이용자의 정보를 안전하게 저장, 전송하기 위하여 암호화를 적용하고 있습니다.</p>
                            <p>- 개인정보 처리인력에 대한 보안교육을 주기적으로 실시하고, 관련 인력 및 시스템에 대한 점검을 시행 하는 등 안전한 처리를 위해 내부절차를 마련하고 있습니다.</p>
                            <p>- 이외에도 회사는 이용자가 제공한 개인정보보호를 위하여 만전을 기하고 있습니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_8">
                            <h3>8. 쿠키(Cookie) 자동 수집 장치 운영 사항</h3>
                            <p>개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항 쿠키 등 인터넷 서비스 이용 시 자동 생성되는 개인정보를 수집하는 장치를 운영하지 않습니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_9">
                            <h3>9. 개인정보 보호 담당 부서 및 민원서비스</h3>
                            <p>회사는 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서를 운영하고 있습니다</p>
                            <p>[개인정보보호 담당부서 및 연락처]</p>
                            <p>부서: Infra Tech Lab, Infra N/W 팀, Infra Ops 팀</p>
                            <p>E-mail: hyuk.jeon@cj.net, hj.kang34@cj.net, yeseul.baek@cj.net</p>
                            <p>연락처: 032-211-0290</p>
                            <p>이용자는 회사의 서비스를 이용하며 발생하는 모든 개인정보 관련 민원을 개인정보보호 담당 부서로 연락(신고)할 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
                            <p>1) [개인정보침해신고센터] 전화번호 : 118 / URL : http://privacy.kisa.or.kr</p>
                            <p>2) [경찰청 사이버수사국] 전화번호 : 182 / URL : http://ecrm.cyber.go.kr</p>
                            <p>3) [개인정보분쟁조정위원회] 전화번호 : 1833-6972 / URL : http://www.kopico.go.kr</p>
                            <p>4) [대검찰청] 전화번호 : 1301 / URL : http://www.spo.go.kr</p>
                            <p>5) [중앙행정심판위원회] 전화번호 : 110 / URL : http://www.simpan.go.kr</p>
                        </div>
                        <br>
                        <div class="sect mt-4" id="sect_10">
                            <h3>10. 개인정보 처리방침 변경</h3>
                            <p>본 개인정보처리방침은 2023년 8월 9일 제정되었으며, 법령 정책 또는 보안기술의 변경에 따라 내용의 추가/삭제 및 수정이 있을 시에는 변경되는 개인정보처리방침을 시행하기 전에 회사가 운영하는 인터넷 사이트 페이지를 통해 변경 이유 및 내용 등을 공지합니다. 본 개인정보처리방침의 내용은 수시로 변경될 수 있으므로 사이트를 방문하실 때마다 이를 확인하시기 바랍니다.</p>
                        </div>
                        <br>
                        <div class="sect mt-4">
                            <h3>개인정보처리방침 개정 이력</h3>
                            <p>개인정보처리방침 제정 일자 : 2023년 08월 9일</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        // 페이지 로드 시 "다음" 버튼을 숨김
        $('#nextButton').hide();

        // 예 체크박스 클릭 시 다음 버튼 표시
        $('#secureRadio1').click(function() {
            if ($(this).is(':checked')) {
                $('#nextButton').show();
            } else {
                $('#nextButton').hide();
            }
        });
    });
</script>

<script>
    // 아니요 체크박스 클릭 시 다음 버튼 숨김
    $('#secureRadio2').click(function() {
        if ($(this).is(':checked')) {
            $('#nextButton').hide();
        } else {
            $('#nextButton').show();
        }
    });
</script>
{% endblock %}
